body { 
    background-color: black;
}

#glcanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 768px;
    background-color: black;
}